.topnav {
  overflow: hidden;
}

.topnav a {
  float: center;
  color: black;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #20362e;
  color: white;
  float: center;
}

.topnav-right {
  float: right;
}

h1 {
  text-align: center;
  text-decoration: underline;
}
h4 {
  text-align: center;
  padding: 15px 16px;
}
p {
  text-align: center;
}

.input {
  width: 400px;
  height: 50px;
}
p a {
  unicode-bidi: bidi-override;
}
section {
  display: inline;
}
